<h1>Cerberus Builds</h1>

<p>
  <a href="/server_errors">Server Errors</a>
</p>

<% @projects.each do |project| %>
  <div class="project">
    <h3>
      <a href="/projects/<%= project.name %>"><%= project.name %></a>
      (<a href="/projects/<%= project.name %>/feed">Feed</a>)
    </h3>

    <p>
      Last Build Status:
      <% if project.status %>
        <%= project.build_success? ? "Passed" : "Failed" %> at <%= project.built_at %>
      <% else %>
          No build status
      <% end %>
    </p>
  </div>
<% end %>

